<style>
    #red {
        color: red;
    }
</style>
<% if(locals.errors){ %>
    <% errors.forEach(function(error) { %>
        <div class="alert alert-warning alert-dismissible fade show" id="red" role="alert">
            <%= error.msg %>
        </div>
        <% }); %>
            <% } %>
                <% if(success_msg != ''){ %>
                    <div class="alert alert-success alert-dismissible fade show" id="red" role="alert">
                        <%= success_msg %>

                    </div>
                    <% } %>
                        <% if(error_msg != ''){ %>
                            <div class="alert alert-danger alert-dismissible fade show" id="red" role="alert">
                                <%= error_msg %>

                            </div>
                            <% } %>
                                <% if(error != ''){ %>
                                    <div class="alert alert-danger alert-dismissible fade show" id="red" role="alert">
                                        <%= error %>
                                    </div>
                                    <% } %>